body{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 70% 10%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 5vh;
}

main{
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div{
    border:black 1px solid;
}

main>div{
    border:black 1px solid;
    display:grid;
    height: 60vh;
    width: 60vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
}

main>div div{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

main>div div:first-child{
    grid-row: 1;
    grid-column: 1;
}

main>div div:nth-child(2){
    grid-row: 1;
    grid-column: 2;   
}
main>div div:nth-child(3){
    grid-row: 1;
    grid-column: 3;   
}
main>div div:nth-child(4){
    grid-row: 2;
    grid-column: 1;   
}
main>div div:nth-child(5){
    grid-row: 2;
    grid-column: 2;   
}
main>div div:nth-child(6){
    grid-row: 2;
    grid-column: 3;   
}
main>div div:nth-child(7){
    grid-row: 3;
    grid-column: 1;   
}
main>div div:nth-child(8){
    grid-row: 3;
    grid-column: 2;   
}
main>div div:last-child{
    grid-row: 3;
    grid-column: 3;   
}

#footerleft{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size:3vh;
    grid-column: 1;
    grid-row: 3;
}

#footerright{
    display: flex;
    justify-content: center;
    align-items: center;
    color:green;
    font-size:3vh;
    grid-column: 2;
    grid-row: 3;
}

.x{
    color: red;
}

.o{
    color: green;
}